body {
  display: flex;
  flex-direction: row;

  background-color: #fff0e5; 
}
  
img {
    border: 1px solid #676668;
}
.info{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.ubeBowl {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../images/ubeIceCream.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border: 1px solid #676668;
    margin: 5px;
}

.purpleButton{
    padding: 15px 30px;
    background: #7D63B9;
    border: 4px solid #FFF0E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.greenButton{
    padding: 15px 30px;
    background: #206C00;
    border: 4px solid #FFF0E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.avocadoBowl {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../images/avocadoIceCream.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border: 1px solid #676668;
    margin: 5px;
}

.hotFlavours {
    /* background-image: url("images/iceCreamStack.png");
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 932.82px;
}

.philosophy {
    background-image: url("../images/iceCreamSide.png");
    background-repeat: no-repeat;
    flex-grow: 3;
    width: 841px;
    height: 400px;
    margin: 5px;
}